<ion-view>
  <ion-content>
    <div class="container" id="inventory-log">
      
      <div class="title-row">
        <h1>INVENTORY LOG</h1>
      </div>

      <div class="subtitle-row">
        <h3>ITEM NAME - LOCATION</h3>
      </div>

      <div class="input-row select-row">
        <div class="col-xs-12">
          <div class="select">
            <select name="sort" id="sort">
              <option value="new-old">NEW - OLD</option>
              <option value="old-new">OLD - NEW</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="date">
              <h3 class="">03/14/16</h3>
            </div>
            <div class="update">
              <h3>Updated by:</h3>
              <br>
              <h4>Mario</h4>
            </div>
            <div class="amount">
              <h3>Amount entered:</h3>
              <br>
              <h4>75 / 100 rolls</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="date">
              <h3 class="">03/14/16</h3>
            </div>
            <div class="update">
              <h3>Updated by:</h3>
              <br>
              <h4>Mario</h4>
            </div>
            <div class="amount">
              <h3>Amount entered:</h3>
              <br>
              <h4>75 / 100 rolls</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="date">
              <h3 class="">03/14/16</h3>
            </div>
            <div class="update">
              <h3>Updated by:</h3>
              <br>
              <h4>Mario</h4>
            </div>
            <div class="amount">
              <h3>Amount entered:</h3>
              <br>
              <h4>75 / 100 rolls</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
