<ion-view>
  <ion-content>
    <div class="container" id="take-inventory">

      <div class="title-row">
        <h1>TAKE INVENTORY</h1>
      </div>

      <div class="input-row">
        <label for="search" ng-model="" class="fa fa-search"></label>
        <input type="text" name="search" id="search">
      </div>

      <div class="input-row">
        <div class="col-xs-12">
          <label for="location">LOCATION:</label>
          <br>
          <div class="select">
            <select name="location" id="location">
              <option value="">Any</option>
              <option value="CH1">CH 1</option>
              <option value="CH2">CH 2</option>
              <option value="CH1+CH2">CH 1 + CH 2</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <label for="department">DEPARTMENT:</label>
          <br>
          <div class="select">
            <select name="department" id="department">
              <option value="">All</option>
              <option value="maintenance">HOUSEHOLD</option>
              <option value="foodService">FOOD SERVICE</option>
              <option value="office">OFFICE</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 class="caps">PAPER TOWELS</h2>
            <input type="number">
            <span>&nbsp;/ 100 rolls</span>
            <a href="" class="btn btn-update fa fa-check"></a>
            <br>
            <div class="col-xs-4">
              <a href="#/app/inventory/log" class="btn btn-sm more-info-btn">IL</a>
            </div>
            <div class="col-xs-4">
              <a href="#/app/inventor/orders" class="btn btn-sm more-info-btn">OL</a>
            </div>
            <div class="col-xs-4">
              <a href ng-click="Inventory.modalOpen()" class="btn btn-sm more-info-btn">ID</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
