<ion-view>
  <ion-content>
    <div class="container" id="take-inventory">

      <div class="title-row">
        <h1>TAKE INVENTORY</h1>
      </div>

      <div class="input-row">
        <label for="search"  class="fa fa-search"></label>
        <input type="text" ng-model="Inventory.searchFilter.$" name="search" id="search">
      </div>

      <div class="input-row">
        <div class="col-xs-12">
          <label for="location">LOCATION:</label>
          <br>
          <div class="select">
            <select ng-model="Inventory.searchFilter.location" name="location" id="location">
              <option selected value="CH1">CH 1</option>
              <option value="CH2">CH 2</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <label for="department">DEPARTMENT:</label>
          <br>
          <div class="select">
            <select ng-model="Inventory.searchFilter.department" name="department" id="department">
              <option value="">All</option>
              <option value="household">HOUSEHOLD</option>
              <option value="foodService">FOOD SERVICE</option>
              <option value="office">OFFICE</option>
            </select>
          </div>
        </div>
      </div>

      <div ng-repeat="item in Inventory.items | filter:Inventory.searchFilter" class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 class="caps">{{item.title}}</h2>
            <span ng-if="Inventory.searchFilter.location === 'CH1'">
              <input min="0" ng-model="item.currentAmountCH1" type="number" value="0">
              <span>&nbsp; / {{item.stockAmountCH1}} {{item.unitType.substr(0,6)}}</span>
            </span>
            <span ng-if="Inventory.searchFilter.location === 'CH2'">
              <input min="0" ng-model="item.currentAmountCH2" type="number" value="0">
              <span>&nbsp; / {{item.stockAmountCH2}} {{item.unitType.substr(0,6)}}</span>
            </span>
            <a ng-click="Inventory.update(item)" class="btn btn-update fa fa-check"></a>
            <br>
            <div class="col-xs-4">
              <a href="#/app/inventory/log" class="btn btn-sm more-info-btn">IL</a>
            </div>
            <div class="col-xs-4">
              <a href="#/app/inventory/orders" class="btn btn-sm more-info-btn">OL</a>
            </div>
            <div class="col-xs-4">
              <a href ng-click="Inventory.openItemModal(item)" class="btn btn-sm more-info-btn">ID</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
