<ion-modal-view ng-controller="InvenLogCtrl as Inventory">
  <ion-header-bar>
    <h1 class="title caps">{{Inventory.item.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="Inventory.modalClose(true)">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="container" id="inventory-log">

      <div class="title-row">
        <h1>INVENTORY LOG</h1>
      </div>

      <div class="subtitle-row">
        <h3>ITEM NAME - LOCATION</h3>
      </div>

      <div class="input-row select-row">
        <div class="col-xs-12">
          <div class="select">
            <select ng-model="Inventory.filterDate" name="sort" id="sort">
              <option value="-date">NEW - OLD</option>
              <option value="date">OLD - NEW</option>
            </select>
          </div>
        </div>
      </div>

      <div ng-repeat="log in Inventory.logs | orderBy: Inventory.filterDate" ng-if="Inventory.hasLogs" class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="date">
              <h3 class="">{{log.date.toLocaleDateString()}}</h3>
            </div>
            <div class="update">
              <h3>Updated by:</h3>
              <br>
              <h4>{{log.user}}</h4>
            </div>
            <div class="amount">
              <h3>Amount entered:</h3>
              <br>
              <h4>{{log.amount}} / {{Inventory.item.locationStock}} {{Inventory.item.unitType}}</h4>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="!Inventory.hasLogs" class="col-xs-12 item-row">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="./img/loading.gif" alt="">
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
