<ion-view>
  <ion-content>
    <div class="container" id="browse-items">

      <div class="title-row">
        <h1>BROWSE ITEMS</h1>
      </div>

      <div class="add-row">
        <a href="#/app/addItem" class="btn btn-lg fa fa-plus add-item-btn"></a>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- CH 1  -->
        <div ng-repeat="(location, inventory) in Browse.inventory track by $index" class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="{{'#'+location+'collapse'}}" aria-expanded="false" aria-controls="{{location+'collapse'}}">
                {{location}}
              </a>
            </h4>
          </div>
          <div id="{{location+'collapse'}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ch1heading">
            <div class="panel-body">
              <div ng-repeat="department in Browse.filters" class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{location+department.filter+'Heading'}}"> <h4 class="panel-title">
                  <a role="button"
                  data-toggle="collapse"
                  data-parent="{{'#'+location+'collapse'}}"
                  data-target="{{'#'+location+department.filter+'collapse'}}"
                  aria-expanded="false"
                  aria-controls="{{location+department.filter+'collapse'}}">
                      {{department.name}}
                    </a>
                  </h4>
                </div>
                <div id="{{location+department.filter+'collapse'}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{location+department.filter+'Heading'}}">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in inventory |filter: {department: department.filter} track by $index">
                      <a href ng-click="Browse.openModal(item)">{{item.title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


  </ion-content>
</ion-view>
