<ion-view cache-view="false">
  <ion-content>
    <div class="container" id="edit-item">

      <div class="title-row">
        <h1>{{Item.title | uppercase}}</h1>
      </div>
      <form ng-submit="Item.save(Item.viewItem)">

      <div class="info-row">
        <h2>TITLE:</h2>
        <input required type="text" ng-model="Item.viewItem.title">
      </div>

      <div class="info-row">
        <h2>PICTURES:</h2>
        <div class="picture-row">
          <a href="" class="new-pic btn fa fa-camera"></a>
          <!-- <img src="http://placehold.it/175" alt="">
          <img src="http://placehold.it/175" alt=""> -->
        </div>
      </div>

      <div class="info-row">
        <h2>Description:</h2>
        <textarea name="" id="" cols="30" rows="4"></textarea>
      </div>

      <div class="row input-row">
        <label for="location">LOCATION:</label>
        <br>
        <div class="select">
          <select ng-model="Item.viewItem.location" name="location" id="location">
            <option value="CH1">CH 1</option>
            <option value="CH2">CH 2</option>
            <option value="CH1+CH2">CH 1 + CH 2</option>
          </select>
        </div>
      </div>

      <div class="row input-row">
        <label for="department">DEPARTMENT:</label>
        <br>
        <div class="select">
          <select required ng-model="Item.viewItem.department" name="department" id="department">
            <option value="household">HOUSEHOLD</option>
            <option value="foodService">FOOD SERVICE</option>
            <option value="office">OFFICE</option>
          </select>
        </div>
      </div>

      <div class="info-row">
        <h2>KEYWORDS:</h2>
        <input ng-model="Item.viewItem.keywords" type="text">
      </div>

      <div class="info-row">
        <h2>UPC CODE:</h2>
        <input ng-model="Item.viewItem.UPC" type="number">
      </div>

      <div class="info-row">
        <h2>ITEM # / MODEL #:</h2>
        <input ng-model="Item.viewItem.itemOrModelNum" type="string">
      </div>

      <div class="info-row">
        <h2>PREFERRED VENDOR:</h2>
        <input ng-model="Item.viewItem.prefVendor" type="text">
      </div>

      <div class="info-row">
        <h2>AMOUNT TO STOCK:</h2>
        <h3>CH 1:</h3>
        <br>
        <label for="ch1-num">Amount:</label>
        <input ng-model="Item.viewItem.stockAmountCH1" type="number" name="ch1-num" class="num" min="1">
        <br>
        <!-- <label for="ch1-units">Units (e.g. rolls/boxes):</label> -->
        <!-- <input ng-model="Item.viewItem.unitType" type="text" name="ch1-units" class="units"> -->
        <br>
        <h3>CH 2:</h3>
        <br>
        <label for="ch2-num">Amount:</label>
        <input ng-model="Item.viewItem.stockAmountCH2" type="number" name="ch2-num" class="num" min="1">
        <br>
        <label for="ch2-units">Units:</label>
        <input required ng-model="Item.viewItem.unitType" type="text" name="ch1-units" class="units">
        <br>
      </div>

      <div class="info-row">
        <h2>ORDERING THRESHOLD:</h2>
        <br>
        <h3>CH 1: <input required type="number" ng-model="Item.viewItem.thresholdCH1" name="ch1-threshold" class="num" min="0"> units remaining</h3>
        <br>
        <br>
        <h3>CH 2: <input required type="number" ng-model="Item.viewItem.thresholdCH2" name="ch2-threshold" class="num" min="0"> units remaining</h3>
      </div>

      <div class="row save-row">
        <button href type="submit" class="save-btn fa fa-save"></button>
      </div>
    </form>

    </div>
  </ion-content>
</ion-view>
