<ion-view cache-view="false">
  <ion-content>
    <div class="container" id="edit-item">

      <div class="title-row">
        <h1 class="caps">{{Item.title}}</h1>
      </div>
      <form name="itemForm" ng-submit="Item.save(Item.viewItem)">

        <div class="save-row">
          <button href type="submit" class="btn save-btn fa fa-save"></button>
        </div>

        <div class="info-row">
          <h2>TITLE:</h2>
          <input name="title"
          required ng-class=
          "{invalid: itemForm.title.$invalid && Item.invalidItem}"
          type="text" ng-model="Item.viewItem.title"/>
        </div>

        <div class="info-row">
          <h2>PICTURES:</h2>
          <div class="picture-row">
            <a href="" class="new-pic btn fa fa-camera"></a>
            <!-- <img src="http://placehold.it/175" alt="">
            <img src="http://placehold.it/175" alt=""> -->
          </div>
        </div>

        <div class="info-row">
          <h2>Description:</h2>
          <textarea name="" ng-model="Item.viewItem.description" id="" cols="30" rows="4"></textarea>
        </div>

        <div class="input-row">
          <label for="location">LOCATION:</label>
          <br>
          <div class="select">
            <select name="location"
            required ng-model="Item.viewItem.location" ng-class=
            "{invalid: itemForm.location.$invalid && Item.invalidItem}"
            id="location">
              <option value="CH1">CH 1</option>
              <option value="CH2">CH 2</option>
              <option value="CH1+CH2">CH 1 + CH 2</option>
            </select>
          </div>
        </div>

        <div class="input-row">
          <label for="department">DEPARTMENT:</label>
          <br>
          <div class="select">
            <select name="department"
            required ng-model="Item.viewItem.department" ng-class=
            "{invalid: itemForm.department.$invalid && Item.invalidItem}"
            id="department">
            <option value="household">HOUSEHOLD</option>
            <option value="foodService">FOOD SERVICE</option>
            <option value="office">OFFICE</option>
          </select>
        </div>
      </div>

      <div class="info-row">
        <h2>KEYWORDS:</h2>
        <input ng-model="Item.viewItem.keywords" type="text">
      </div>

      <div class="info-row">
        <h2>UPC CODE:</h2>
        <input ng-model="Item.viewItem.UPC" type="number">
      </div>

      <div class="info-row">
        <h2>ITEM # / MODEL #:</h2>
        <input ng-model="Item.viewItem.itemOrModelNum" type="string">
      </div>

      <div class="info-row">
        <h2>PREFERRED VENDOR:</h2>
        <input ng-model="Item.viewItem.prefVendor" type="text">
      </div>

      <div class="info-row">
        <h2>AMOUNT TO STOCK:</h2>
        <h3>CH 1:</h3>
        <br>
        <label for="ch1-num">Amount:</label>
        <input name="stockAmountCH1"
        required ng-class=
        "{invalid: itemForm.stockAmountCH1.$invalid && Item.invalidItem}"
        type="number" ng-model="Item.viewItem.stockAmountCH1" class="num" min="0">
        <br>
        <!-- <label for="ch1-units">Units:</label>
        <input required ng-model="Item.viewItem.unitType" type="text" name="ch1-units" class="units">
        <br> -->
        <h3>CH 2:</h3>
        <br>
        <label for="ch2-num">Amount:</label>
        <input name="stockAmountCH2"
        required ng-class=
        "{invalid: itemForm.stockAmountCH2.$invalid && Item.invalidItem}"
        type="number" ng-model="Item.viewItem.stockAmountCH2" class="num" min="0">
        <br>
        <label for="ch2-units">Units:</label>
        <input name="unitType"
        required ng-class=
        "{invalid: itemForm.unitType.$invalid && Item.invalidItem}"
        ng-model="Item.viewItem.unitType" type="text" class="units">
        <br>
      </div>

      <div class="info-row">
        <h2>ORDERING THRESHOLD:</h2>
        <br>
        <h3>CH1:
          <input name="thresholdCH1"
          required ng-class=
          "{invalid: itemForm.thresholdCH1.$invalid && Item.invalidItem}"
          type="number" ng-model="Item.viewItem.thresholdCH1" class="num" min="0">
          {{Item.viewItem.unitType || "units"}} remaining
        </h3>
        <br>
        <br>
        <h3>CH2:
          <input name="thresholdCH2"
          required ng-class=
          "{invalid: itemForm.thresholdCH2.$invalid && Item.invalidItem}"
          type="number" ng-model="Item.viewItem.thresholdCH2" class="num" min="0">
          {{Item.viewItem.unitType || "units"}} remaining
        </h3>
      </div>

      <div class="save-row">
        <span ng-if="Item.invalidItem && itemForm.$invalid" class="invalid-message">
          Please correct the highlighted areas.
        </span>
        <span class="pull-right">
          <button href type="submit" ng-click="
          Item.invalidItem = itemForm.$invalid ? true : false;"
          class="btn save-btn fa fa-save"></button>
        </span>
      </div>
    </form>

  </div>
</ion-content>
</ion-view>
