<nav class="page-header">
  <h1>Inventory Management
      <a class="fa fa-navicon right" role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse"></a>
  </h1>
  <div class="collapse" id="collapse">
    <ul>
      <li><a href="#/app/browsel">BROWSE ITEMS</a></li>
      <hr>
      <li><a href="#/app/inventory">TAKE INVENTORY</a></li>
      <hr>
      <li><a href="#/app/admin">ADMIN DASHBOARD</a></li>
      <hr>
      <li><a href="">SETTINGS</a></li>
    </ul>
  </div>
</nav>

<ion-nav-view name="content"></ion-nav-view>
