<nav class="page-header">
  <h1>Inventory Management
    <a class="fa fa-navicon right" role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse"></a>
  </h1>
  <div class="collapse" id="collapse">
    <ul>
      <li><a ui-sref="items.all">BROWSE ITEMS</a></li>
      <hr>
      <li><a ui-sref="./take-inventory.html">TAKE INVENTORY</a></li>
      <hr>
      <li><a ui-sref="./admin-dashboard.html">ADMIN DASHBOARD</a></li>
      <hr>
      <li><a ui-sref="">SETTINGS</a></li>
    </ul>
  </div>
</nav>
