<ion-view>
  <ion-content>
    <div class="container" id="add-user">
      <div class="row title-row">
        <h1>ADD USER</h1>
      </div>

      <div class="row input-row">
        <label for="title">NAME:</label>
        <br>
        <input type="text">
      </div>

      <div class="row input-row">
        <label for="title">EMAIL:</label>
        <br>
        <input type="text">
      </div>

      <div class="row input-row">
        <label for="department">DEPARTMENT:</label>
        <br>
        <div class="select">
          <select name="department" id="department">
            <option value="maintenance">MAINTENANCE</option>
            <option value="food-service">FOOD SERVICE</option>
          </select>
        </div>
      </div>

      <div class="row input-row btns-row">
        <a href="" class="btn btn-primary fa fa-envelope add-user-btn"></a>
        <a href="./admin-dashboard.html" class="btn btn-primary fa fa-close cancel-add-btn"></a>
      </div>

    </div>

  </ion-content>
</ion-view>
