<ion-view>
  <ion-content>
    <div class="container" id="add-user">
      <div class="row title-row">
        <h1>ADD USER</h1>
      </div>
      <form ng-submit="Admin.addUser(Admin.newUser)">

        <div class="row input-row">
          <label for="title">NAME:</label>
          <br>
          <input required type="text" ng-model="Admin.newUser.name" ng-class="{invalid: }">
        </div>

        <div class="row input-row">
          <label for="title">EMAIL:</label>
          <br>
          <input required type="text" ng-model="Admin.newUser.email" ng-class="{invalid: Admin.invalid.email}">
        </div>

        <div class="row input-row">
          <label for="department">DEPARTMENT:</label>
          <br>
          <div class="select">
            <select name="department" id="department" ng-model="Admin.newUser.department">
              <option value="maintenance">MAINTENANCE</option>
              <option value="foodservice">FOOD SERVICE</option>
            </select>
          </div>
        </div>

        <div class="row input-row btns-row">
          <button type="submit" ng-click="" class="btn btn-primary fa fa-envelope add-user-btn"></button>
        </form>
        <a href="#/app/admin" class="btn btn-primary fa fa-close cancel-add-btn"></a>
      </div>

    </div>

  </ion-content>
</ion-view>
