<ion-view>
  <ion-content>
    <div class="container" id="admin-dashboard">
      <div class="title-row">
        <h1>ADMIN DASHBOARD</h1>
      </div>
      <div class="btn-row">
        <div class="col-xs-8 col-xs-offset-2">
          <a href="#/app/admin/addUser" class="btn btn-lg btn-primary big-option">ADD USER</a>
        </div>
      </div>
      <div class="btn-row">
        <div class="col-xs-8 col-xs-offset-2">
          <a href="#/app/admin/editUser" class="btn btn-lg btn-primary big-option">EDIT USER</a>
        </div>
      </div>
      <div class="btn-row">
        <div class="col-xs-8 col-xs-offset-2">
          <a href="#/app/admin/removeUser" class="btn btn-lg btn-primary big-option">REMOVE USER</a>
        </div>
      </div>
      <div class="btn-row">
        <div class="col-xs-8 col-xs-offset-2">
          <a href="#/app/admin/removeItem" class="btn btn-lg btn-primary big-option">REMOVE ITEM</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
