<ion-view>
  <ion-content>
    <div class="container" id="edit-user">
      <div class="row title-row">
        <h1>EDIT USER</h1>
      </div>

      <div class="row input-row">
        <label for="user">USER:</label>
        <br>
        <div class="select">
          <select name="user" id="user">
          </select>
        </div>
      </div>

      <div class="row input-row">
        <label for="title">NAME:</label>
        <br>
        <input type="text">
      </div>

      <div class="row input-row">
        <label for="title">EMAIL:</label>
        <br>
        <input type="text">
      </div>

      <div class="row input-row">
        <label for="department">DEPARTMENT:</label>
        <br>
        <div class="select">
          <select name="department" id="department">
            <option value="maintenance">MAINTENANCE</option>
            <option value="food-service">FOOD SERVICE</option>
          </select>
        </div>
      </div>

  </ion-content>
</ion-view>
