<ion-view>
  <ion-content>
    <div class="container" id="remove-user">
      <div class="row title-row">
        <h1>REMOVE USER</h1>
      </div>
      <div class="row input-row">
        <label for="user">USER:</label>
        <br>
        <div class="select">
          <select ng-model="Admin.selected" name="user"
          ng-options="user as user.name for user in Admin.users"
          id="user">
          </select>
        </div>
      </div>

      <div class="row trash-row">
        <button ng-disabled="!Admin.selected._id" ng-click="Admin.removeUser(Admin.selected)" class="btn btn-lg trash-btn fa fa-trash"></button>
      </div>

      <div class="row input-row btns-row">
        <a href="#/app/admin" class="btn btn-primary fa fa-close cancel-remove-btn"></a>
      </div>

    </div>

  </ion-content>
</ion-view>
