<ion-view>
  <ion-content>
    <div class="container" id="remove-item">
      <div class="row title-row">
        <h1>REMOVE ITEM</h1>
      </div>

      <div class="row input-row">
        <label for="location">LOCATION:</label>
        <br>
        <div class="select">
          <select ng-model="Admin.filter.location" name="location" id="location">
            <option value="CH1">CH 1</option>
            <option value="CH2">CH 2</option>
            <option value="CH1+CH2">CH 1 + CH 2</option>
          </select>
        </div>
      </div>

      <div class="row input-row">
        <label for="department">DEPARTMENT:</label>
        <br>
        <div class="select">
          <select ng-model="Admin.filter.department" name="department" id="department">
            <option value="food-service">FOOD SERVICE</option>
            <option value="maintenance">MAINTENANCE</option>
            <option value="office">OFFICE</option>
          </select>
        </div>
      </div>

      <div class="row input-row">
        <label for="item-name">ITEM NAME:</label>
        <br>
        <div class="select">
          <select name="item-name" id="item-name">
            <option value="thing">THING</option>
            <option value="stuff">STUFF</option>
            <option value="item">ITEM</option>
          </select>
        </div>
      </div>

      <div class="row input-row">
        <h3>YOU CHOSE:</h3>
      </div>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>THINGY</h2>
          <span>MAINTENENCE | THINGS | CH 1</span>
        </div>
      </div>

      <div class="row trash-row">
        <a href="" class="btn btn-lg trash-btn fa fa-trash"></a>
      </div>

      <div class="row input-row btns-row">
        <a href="#/app/admin" class="btn btn-primary fa fa-close cancel-remove-btn"></a>
      </div>

    </div>

  </ion-content>
</ion-view>
