<ion-view>
  <ion-content>
    <div class="container" id="remove-user">
      <div class="row title-row">
        <h1>REMOVE USER</h1>
      </div>

      <div class="row input-row">
        <label for="user">USER:</label>
        <br>
        <div class="select">
          <select name="user" id="user">
            <option value="user1">JIMMY</option>
            <option value="user2">JANE</option>
            <option value="user3">JAMIROQUAI</option>
          </select>
        </div>
      </div>

      <div class="row trash-row">
        <a href="" class="btn btn-lg trash-btn fa fa-trash"></a>
      </div>

      <div class="row input-row btns-row">
        <a href="./admin-dashboard.html" class="btn btn-primary fa fa-close cancel-remove-btn"></a>
      </div>

    </div>

  </ion-content>
</ion-view>
