@import
"./components/_rachel",
"./components/_popups";


.panel-title, .panel-heading, .list-group-item {
  a{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.input-row input.invalid:not(:focus){
  border-bottom-color: red !important;
}
