@import
"./components/_rachel",
"./components/_popups";


.panel-title, .panel-heading, .list-group-item {
  a{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.input-row input.invalid{
  border-bottom-color: red !important;
}

.error-message-container{
  height: 31px;
  .error-message{
    text-align: center;
    color: red;
    font-size: 22px;
  }
}

.modal-backdrop {
  background-color: transparent;
}

button.button.button-clear {
  color: white;
}
